/*MOBILE HORIZONTAL*/
@media only screen and (max-width:700px) {
	.row {
    margin-right: 0px;
     margin-left: 0px; 
}

	#footerDiv{
		padding: 0px;
	}
	.footerblock{
		float:left;
		margin-left: 10%;
	}
	#footerblockright{
		float:right;
	}
	.nonfooterblock{
		clear:both;
	}
	#fixedNav {
		display: none;
	}
	#credentials-container{
		width: 100%;
		margin-left: 0px;
	}
	.navbar-header {
		width: 100%;
	}

	#logoMain {
		padding: 1%;
		margin-left: 25%;
		width: 60%;
	}

	#logoAlt {
		padding: 2%;
		margin-left: 7%;
		width: 60%;
	}

	button.navbar-toggle.collapsed {
		margin-top: 6%;
		border: 1px solid grey;
	}

	#makeApp {
		margin-top: 1%;
		text-align: center;
	}

	#jumboMain {
		min-height: 80px;
		background-image: none;
		background-color: #B2DFDB;
	}

	.bookBtn {
		margin-top: 0%;
		margin-bottom: 1%;
		font-size: 25px;
		width: 60%;
		margin-left: 20%;
		border-radius: 24px; 
		padding-top: 1%
	}

	#drxTech {
		background-image: none;
		background-color: white;
	}

	#image-carousel-about {
		align-content: center;
		width:80%;
		margin-left:10%;
	}

	#aboutStatement {
		text-indent: 0%;
	}

	.down-arrow {
		width: 12%;
		margin-left: 44%;
	}

	#introVideo {
		width: 97%;
		margin-left: 1.5%;
		min-height: 275px;
		margin-top: 2%;
	}

	#secondarySub {
		width: 40%;
		margin-left: 5%;
	}
	#summary{
		width:100%;
		margin-left: 0px;
	}
	#aboutDiv {
		width:80%;
		margin-top: 30px;
		margin-left: 10%
	}
	#methods{
		margin-left: 0px;
		margin-top: 10px;
	}
}

/*MOBILE VERTICAL*/
@media only screen and (max-width:500px) {

	#logoMain {
		margin-left: 7%;
		margin-top: 3%;
		margin-bottom: 2%;
		width: 65%;
	}

	#logoAlt {
		margin-left: 7%;
		margin-top: 3%;
		margin-bottom: 2%;
		width: 65%;
	}

	button.navbar-toggle.collapsed {
		margin-top: 8%;
		margin-right: 5%;
	}

	#jumboMain {
		min-height: 100px;
	}

	#makeApp {
		margin-top: 2%;
		width: 70%;
		margin-left: 15%;
		text-align: center;
	}

	#bookBtn {
		margin-top: 1%;
		margin-bottom: 3%;
		font-size: 20px;
		width: 40%;
	}
	.testimonial-header{
		color:white;
		font-size: 24px;
	}
	
	#secondarySub {
		text-align: center;
	}

	#image-carousel-about {
		align-content: center;
	}

	#image-carousel-care {
		padding-left: 3%;
	}

	h4 {
		text-align: center;
	}

	.careInfo {
		text-indent: 30px;
	}

	.bio {
		text-indent: 30px;
	}

	#methods {
		width: 70%;
		margin-left: 15%;
		font-size: 15px;
	}

	#about {
		text-align: center;
		display: block;
		margin-bottom: 5%;
		background-color: #B2DFDB;
		padding: 1%;
		border: 1px solid #B4FFDA;
		margin-top: 0%;
		font-family: Oswald;
		font-size: 24px;
	}

	.techniques {
		margin-top: 15px;
		text-align: center;
	}

	.intakeForm {
		text-align: center;
		width: 58%;
		margin-left: 21%;
		margin-bottom: 5%;
	}

	#videocontainer{
		max-height:auto;
		width:90%;
	}
	#introVideo{
		max-height: 300px;
	}
	#rss{
		width:90%;
		margin-left: 5%
		}
	.footerblock{
		float:left;
		margin-left: 0px;
	}
	#footerblockright{
		float:right;
	}
	.nonfooterblock{
		clear:both;
	}
	#et_contact_form {
		min-height: 500px;
	}
	#et_contact_right{
		width: 40%
		margin-left:30%;
	}
	#btns{
	margin-top: -30px;
	}
	#credentials-container{
		width: 100%;
		margin-left: 0px;
	}
	#summary{
		width:100%;
		margin-left: 0px;
	}
	#aboutDiv {
		width:80%;
		margin-top: 30px;
		margin-left: 10%
	}
	#methods{
		margin-left: 0px;
		margin-top: 10px;
	}
	#credentials{
		margin-top: 20px;
	}
	#drxTech{
		min-height:160px;
	}
	#secondarySub{
		width: 90%;
		font-size: 26px;
		margin-bottom: 15px;
	}
	#carousCon{
		margin-left: 10px;
	}
}

/*IPHONE5 VERTICAL*/
/*@media only screen and (max-width:350px) {

	#bookBtn {
		font-size: 16px;
	}
	

}*/
/*END MOBILE VERTICAL*/