/*MOBILE HORIZONTAL*/
@media only screen and (max-width:700px) {
	
	#logoMain {
		padding: 1%;
		margin-left: 7%;
		width: 60%;
	}

	#logoAlt {
		padding: 2%;
		margin-left: 7%;
		width: 60%;
	}

	button.navbar-toggle.collapsed {
		margin-top: 6%;
		margin-right: 12%;
		border: 1px solid grey;
	}

	#makeApp {
		margin-top: 1%;
		text-align: center;
	}

	#jumboMain {
		min-height: 80px;
		background-image: none;
		background-color: #B2DFDB;
	}

	#bookBtn {
		margin-top: 0%;
		margin-bottom: 1%;
		font-size: 25px;
		width: 40%;
		margin-left: 30%;
		border-radius: 24px; 
		padding-top: 1%
	}
	
	#rss {
		display: none;
	}

	#drxTech {
		background-image: none;
		background-color: white;
	}

	#image-carousel-about {
		align-content: center;
	}

	#aboutStatement {
		text-indent: 0%;
	}

	.testimonial-tag {
		width: 70%;
		margin-left: 15%;
	}

	.down-arrow {
		width: 12%;
		margin-left: 44%;
	}

	#mapView {
		width: 80%;
		margin-left: 10%;
	}
	
	#officeView {
		width: 80%;
		margin-left: 10%;
	}

}

/*MOBILE VERTICAL*/
@media only screen and (max-width:500px) {

	#logoMain {
		margin-left: 7%;
		margin-top: 3%;
		margin-bottom: 2%;
		width: 65%;
	}

	#logoAlt {
		margin-left: 7%;
		margin-top: 3%;
		margin-bottom: 2%;
		width: 65%;
	}

	button.navbar-toggle.collapsed {
		margin-top: 8%;
		margin-right: 5%;
	}

	#jumboMain {
		min-height: 100px;
	}

	#makeApp {
		margin-top: 2%;
		width: 70%;
		margin-left: 15%;
		text-align: center;
	}

	#bookBtn {
		margin-top: 1%;
		margin-bottom: 3%;
		font-size: 20px;
	}
	
	#introVideo {
		width: 100%;
	}

	#secondarySub {
		text-align: center;
	}

	#image-carousel-about {
		align-content: center;
	}

	#image-carousel-care {
		padding-left: 3%;
	}

	h4 {
		text-align: center;
	}

	.techniques {
		margin-top: 41%;
		text-align: left;
	}

	.careInfo {
		text-indent: 30px;
	}

	.bio {
		text-indent: 30px;
	}

	#methods {
		width: 70%;
		margin-left: 15%;
		font-size: 15px;
	}

	#about {
		text-align: center;
		display: block;
		margin-bottom: 5%;
		background-color: #B2DFDB;
		padding: 1%;
		border: 1px solid #B4FFDA;
		margin-top: 0%;
		font-family: Oswald;
		font-size: 24px;
	}

	.intakeForm {
		text-align: center;
		width: 58%;
		margin-left: 21%;
		margin-bottom: 5%;
	}
}

/*IPHONE5 VERTICAL*/
/*@media only screen and (max-width:350px) {

	#bookBtn {
		font-size: 16px;
	}
	

}*/
/*END MOBILE VERTICAL*/