/*p{
	text-align: center;
}*/

.content{
	height: auto;
	font-size: 20px;
	color: #4A4444;
	margin-top: 5%;
	margin-bottom: 8%;
	margin-left: auto;
	margin-right: auto;
	
	/*box-shadow: 0px 15px 37px -1px rgba(0,0,0,0.75);*/
}

.parallax{
	background:url("../images/teal-tex.png") repeat fixed 100%; 
}

.parallax-inner{
	height: 250px;
	width: 100%;
}

.top-link{
	text-align: right;
	color: #50BEAC;
	display: block;
	margin: 0;
	padding: 0;
}

.offset:before { 
	display: block; 
 	content: " "; 
  	height: 50px;
        margin-top: -50px; 
        visibility: hidden; 
}


#appointments{
	
}

