/*DESKTOP & IPAD PRO HORIZONTAL*/

/*ALL files*/

html {
	width: 100%;
}

#fixedNav {
	background-color: #4ABDAC;
	border-bottom: 1px solid #008F95;
	margin-bottom: 0%;
	padding-bottom: 0%;
	padding-top: 10px;
}

.glyphicon {
	color: white;
}

.fixedBtn {
	background-color: #4ABDAC;
	border: none;
	margin-right: 10%;
	color: white;
	font-size: 16px;
}

a {
	color: white;
	font-size: 16px;
}

#highlights {
	text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: #0288D1;
    font-weight: bold;
    font-size: 18px;
}

.homeNav {
	background-color: white;
	border-top: 1.5px solid #A7FFEB;
	border-bottom: 2px solid #B4FFDA;
	border-radius: 0;
	margin-top: 3.5%;
	margin-bottom: 0px;
}

#links {
	padding-top: 1.5%;
	margin-right: 2%;
}

footer {
	width: 100%;
	border: 1px solid #B4FFDA;
	text-align: center;
	color: black;
	clear: both;
	padding-bottom: .5%;
}

.h5 {
	font-weight: bold;
	font-style: italic;
}

.details {
	margin-bottom: 1px;
	color: black;
	font-size: 14px;
}

#footerSig {
	font-family: Sacramento;
	font-size: 20px;
	margin-top: .5%;
}

/*end all files*/

/*ALL files except for INDEX*/

#logoAlt {
	margin-top: 0%;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-left: 12%;
}

#headline {
	text-align: center;
	font-style: italic;
	margin-top: 0%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-bottom: 2px solid #B4FFDA;
	background-color: #457BB8;
	color: white; 
}

.subHeaders {
	text-align: center;
	background-color: #B2DFDB;
	padding: 1%;
	border: 1px solid #B4FFDA;
	margin-top: 0%;
	font-family: Oswald;
}

.careInfo {
	font-size: 15px;
	text-indent: 60px;
}

/*end*/

/*INDEX & CARE files*/

#bookBtn {
		text-align: center;
		border: 1px solid #40c4ff;
		color: white;
		background-color: #457BB8;
		font-family: arial;
		border-radius: 24px;
		font-size: 25px;
		width:35%;
		margin-left: 32.5%;
		margin-top: 30px;
}

/*end INDEX & CARE*/

/*ABOUT & CARE files*/

.listItems {
	color: black;
	font-weight: bold;
	font-style: italic; 
}

.carousel-inner {
	border: 1px solid grey;
	width: 300px;
}

/*end ABOUT & CARE*/

/*INDEX file*/

#logoMain {
	margin-top: 0%;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-left: 12%;
}

#quote {
	color: #008F95;
	text-align: center;
	background-color: #B2DFDB;
	padding: 1%;
	margin: 0%;
	font-family: Anton;
	font-style: italic;
	border-bottom: 2px solid #B4FFDA;
}

#homeContent {
	background-color: #B2DFDB;
}

#jumboMain {
	background-color: white;
	background-size: 100%;
	height:525px;
	color: white;
	background-image: url("../images/testa.jpg");
	margin-bottom: 0%;
	font-family: Anton;
	letter-spacing: 2px;
	padding: 0px;
	margin: 0px;
}

#makeApp {
	color: white;
	margin-top: 260px;
	width:80%;
	margin-left: 10%;
}

#introVideo {
	width:100%;
	min-height: 525px;
	padding: 0px;
	margin: 0px;
}

#rss{
	height:170px;
	width:75%;
	background-color: #008F95;
	margin-left: 12.5%;
}

.nopadding {
	padding:0px;
}

/*end INDEX file*/

/*CARE file*/

#services {
	color: black;
	font-size: 15px;
}

.techniques {
	color: black;
	font-family: Anton;
	font-size: 26px;
	margin-top: 27%;
}

#secondarySub {
	clear: both;
}

#graston, #art { cursor: pointer; }

#graston {
	background-image: url("../images/graston.jpeg");
	min-height: 235px;
}

#art {
	background-image: url("../images/active_release.jpeg");
	min-height: 235px;
}

#drxTech {
	background-image: url("../images/drx9000.jpg");
	min-height: 375px;
}

/*end CARE file*/

/*ABOUT file*/

.bio {
	font-family: Raleway;
	font-size: 18px;
	text-indent: 60px;
}

#tagline {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	font-family: Oswald;
	font-weight: bold;
	margin-bottom: 2.5%;
}

#credentials {
	padding-left: 5%;
	padding-top: 5%;
}

#methods {
	margin-top: 5%;
	color: black;
	list-style-type:disc;
}

#aboutStatement{
	text-indent: 40px;
}

/*end ABOUT file*/

/*APPOINTMENTS file*/

.addDetails {
	text-align: center;
	padding: 1%;
}

/*end APPOINTMENTS*/

/*TESTIMONIALS file*/

.is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
}

.testimonial-tag {
	width: 300px;
	border: 2px solid #4D78B7;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	position: relative;
	z-index: 0;
	margin: 20px 0px 50px 70px;
}

 /*.testimonial-tag:hover {

 }*/

.testimonial-header {
 	margin-left: 20px;
 	border-top-left-radius: .67em;
 	border-top-right-radius: .67em;
 	background-color: #50BEAC;
 	padding: 15px;
 	margin: 0px 0px 10px 0px;
 	color: white;
}

.testImg {
	display: inline-block;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 10px;
}

.testimonial-text {
 	margin-top: 30px;
 	margin-left: 30px;
 	margin-bottom: 20px;
 	display: none;
} 

.down-arrow {
 	width: 26px;
 	align-content: center;
 	margin-left: 137px;
 	border-radius: 25em;
 	margin-bottom: 10px;
}

.down-arrow:hover {
 	transition: background-color 0.5s ease;
 	background-color: #50BEAC;
}
 

/* end TESTIMONIAL file*/

/*CONTACT file*/

#mapView {
	width: 100%;
	min-height: 300px; 
	border: 1px solid grey;
}	

#officeView {
	width: 100%;
	min-height: 380px;
	border: 1px solid grey; 
}	

.emailUs {
	text-align: center;
	font-size: 25px;
	text-decoration: underline;
	font-family: Oswald;
}

#closed {
	text-align: center;
	padding: 2%;
}

#et_contact_form {
	background-color: 	#E0E0E0 ;
	border-radius: 15px;
	border: 1px solid #E0F7FA;
	padding: 3%;
	margin-top: 70px;
	margin-bottom: 5%;
	min-height: 400px;
	width: 100%;
}

.formBtns {
	background-color: white;
	border: none;
	border-radius: 8px;
	font-size: 18px;
}

#et_contact_reset {
	margin-right: 120px;
}

#yelpStatement{
	text-align: center;
}

#yelpPhoto {
	width:40%;
	margin-left:30%;
}

/*end CONTACT file*/






