/*/*IPAD PRO VERTICAL*/
/*@media only screen and (max-width:1100px) {

	
/* END IPAD PRO VERTICAL*/

/*IPAD HORIZONTAL*/
@media only screen and (max-width:1050px) {

	#highlights {
		width: 50%;
		display: inline-block;
		margin-left: 2%;
	}

	.homeNav {
		border-bottom: 1px solid #B4FFDA;
	}

	#headline {
		border-bottom: 1px solid #B4FFDA;
	}

	.container-fluid {
		margin-top: 1%;
	}

	.navbar-header {
		width: 25%;
	}

	#logoMain {
		margin-left: 0%;
		width: 80%;
	}

	#logoAlt {
		margin-left: 0%;
		width: 80%;
	}

	#quote {
		display: none;
	}

	#jumboMain {
		min-height: 100px;
		background-image: none;
		background-color: #B2DFDB;
	}
	
	#makeApp {
		margin-top: 2%;
		text-align: center;
	}

	.bookBtn {
		margin-top: 1%;
		margin-bottom: 2%;
		width: 30%;
		margin-left: 35%;
	}

	#rss {
		width: 90%;
		margin-left: 5%;
	}

	.techniques {
		margin-top: 5%;
		text-align: left;
	}

	#graston {
		width: 60%;
		background-repeat: no-repeat;
	}

	#art {
		width: 60%;
		background-repeat: no-repeat;
	}

	#introVideo {
		width: 95%;
		margin-left: 2.5%;
	}

	/*#info {
		width: 40%;
	}

	#image-carousel-about {
		width: 40%;
		margin-left: 3%;
		padding: 0%;
	}

	.bio {
		float: left;
	}

	#summary {
		color: red;
	}*/

	#secondarySub	{
		width: 60%;
		display: inline-block;
		float: right;
		font-size: 30px;
		margin-top: 5%;
	}
	
	#image-carousel-care {
		width: 30%;
		margin-top: 0%;
		margin-left: 0%;
	}

	.intakeForm {
		text-align: center;
		width: 70%;
		margin-left: 15%;
		margin-bottom: 2%;
	}

	.testimonial-tag {
		width: 70%;
		margin-left: 15%;
	}

	.down-arrow {
		width: 10%;
		margin-left: 45%;
	}

	#mapView {
		width: 80%;
		margin-left: 10%;
	}

	#officeView {
		width: 80%;
		margin-left: 10%;
	}

	#footerId{
		margin: 0 auto;
		width: 620px;

	}

	.footerItem{
		float: left;
	}
}


@media only screen and (max-width:800px) {

	#fixedNav {
		display: none;
	}

	.homeNav {
		margin-top: 0%;
	}

	.navbar-header {
		width: 100%;
	}

	#logoMain {
		width: 60%;
		margin-left: 20%;
		padding: 1%;
	}

	#logoAlt {
		width: 60%;
		margin-left: 20%;
		padding: 1%;
	}

	#links {
		width: 100%;
		margin-right: 0%;
	}

	#introVideo {
		width: 92%;
		margin-left: 4%;
	}

	#rss {
		width: 90%;
		margin-left: 5%;
	}

	#secondarySub {
		width: 40%;
		display: inline-block;
		float: right;
		margin-top: 7%;
		margin-right: 8%;
		font-size: 35px;
	}

	#carousCon {
		width: 50%;
		margin-left: 1%;
	}

	#graston {
		width: 80%;
		margin-left: 10%;
	}

	#art {
		width: 80%;
		margin-left: 10%;
	}

	.intakeForm {
		text-align: center;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 2%;
	}

	#credentials-container{
		width: 700px;
		margin-left: 5%;
		margin-right: 5%;

	}
	#image-carousel-about{
		width: 350px;
		display: inline-block;
		float: left;
	}

	#aboutDiv{
		width: 300px;
		display: inline-block;

	}

	#aboutStatement{
		height: 100px;
		display: inline-block;
	}

	#summary{
		width: 700px;
		display: block;
		margin-left: 5%;
		margin-right: 5%;
	}

}


