/*/*IPAD PRO VERTICAL*/
/*@media only screen and (max-width:1100px) {

	
/* END IPAD PRO VERTICAL*/

/*IPAD HORIZONTAL*/
@media only screen and (max-width:1050px) {

	#highlights {
		width: 50%;
		display: inline-block;
		margin-left: 2%;
	}

	.container-fluid {
		margin-top: 1%;
	}

	.navbar-header {
		width: 25%;
	}

	#logoMain {
		margin-left: 0%;
		width: 80%;
	}

	#quote {
		display: none;
	}

	#jumboMain {
		min-height: 100px;
		background-image: none;
		background-color: #B2DFDB;
	}
	
	#makeApp {
		margin-top: 2%;
		text-align: center;
	}

	#bookBtn {
		margin-top: 1%;
		margin-bottom: 2%;
		width: 30%;
		margin-left: 35%;
	}

	#rss {
		width: 95%;
		margin-left: 2.5%;
	}
}




@media only screen and (max-width:800px) {

	#fixedNav {
		display: none;
	}

	.homeNav {
		margin-top: 0%;
	}

	.navbar-header {
		width: 100%;
	}

	#logoMain {
		width: 60%;
		margin-left: 20%;
		padding: 1%;
	}

	#links {
		width: 100%;
	}

	#rss {
		width: 98%;
		margin-left: 1%;
	}
}


